<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PRZEGLADANIE ZGŁOSZONYVH PRAC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

</head>

<body>
    @Html.Partial("_navbar")

    @RenderBody()
    @Html.Partial("_Footer")
</body>


@Scripts.Render("~/bundles/jqueryval")
</html>